.box1 {
    background-color: #003476;
}

.box2 {
    background-color: #0062d2;
}

.box3 {
    background-color: #b4d2f7;
}

.box4 {
    background-color: #d5dfef;
}

.box5 {
    background-color: #dfe1e5;
}
